body {
    font-family: 'DM Sans', sans-serif;
    background-color: WhiteSmoke;
}

#navbar {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 1rem;
    background-color: RoyalBlue;
}

#navbar li a {
    color: white;
    text-decoration: none;
}

#navbar li a:hover {
    text-decoration: underline;
}

#content {
    padding: 2rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    /* adjust as desired */
}

.grid-item-1-2 {
    /* Add any common styles for the columns if needed */
}

.input-group {
    display: flex;
    align-items: center;
}
#results {
    padding-right: 10vh;
}
#resultCt {
    font-size: 12px;
    padding-bottom: 3vh;
}
#resultsContainer {
    /* max-height: 500px; */
    overflow: scroll
}
/* .result {
    padding-left: 3vh;
} */
.poemResult {
    cursor: pointer;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 5px;
}
#poemMeta {
    padding-top: 2vh;
    padding-left: 5vh;
    padding-bottom: 2vh
}
#poemTxt {
    padding-left: 4vh;
    padding-bottom: 10vh;
}
.poetName {
    cursor: pointer;
    text-decoration: underline;
}